vappName,timeOn,timeOff,notifyEmail,orgId
testvapp1,07:20,08:20,tlawrence@github.com,000-ff-097f6
testvapp2,00:00,23:59,tlawrence@github.com,000-ff-097f6
vapp_in_other_org,10:00,11:00,tlawrence@github.com,1-1-1-a356h
