<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Configure IPSec VPNs for vCloud Director vShield Firewalls</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/style/layout.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="/scripts/knockout.js"></script>
	<script type="text/javascript" src="/scripts/simpleGrid.js"></script>

	
  </head>
  <body align=center>
    <h1>vShield IPSec VPN Configurator</h1>
	<div id="main">
		<%= yield %>
	</div>
  </body>
</html>
