<div id="login">
	<form action="/login" method="POST">
		vCloud User ID: <input type="text" name="user"><br/>
		vCloud Org Id: <input type="text" name="org"><br/>
		vCloud Password: <input type="password" name="pass"><br/>
		<input type="submit">
	</form>
</div>