<!--<div data-bind='simpleGrid: viewModel'> </div>
 
<button data-bind='click: addTunnel'>
    Add Tunnel
</button>-->
 
 




<form action='/api/tunnel_info' method='POST'>
    
    <table data-bind='visible: tunnels().length > 0'>
	
        <thead>
            <tr>
  					<th> Name </th>
					<th> Peer Id </th>
					<th> Peer Ip </th>
					<th> Local Id </th>
					<th> Local Ip </th>
					<th> Shared Secret </th>
					<th> Local Networks </th>
					<th> Peer Networks </th>
                <th />
            </tr>
        </thead>
        <tbody data-bind='foreach: tunnels'>
            <tr>

                <td><input class='required name' data-bind='value: name, uniqueName: true' /></td>
                <td><input class='required number ip' data-bind='value: peer_id, uniqueName: true' /></td>
				<td><input class='required number ip' data-bind='value: peer_ip, uniqueName: true' /></td>
				<td><input class='required number ip' data-bind='value: local_id, uniqueName: true' /></td>
				<td><input class='required number ip' data-bind='value: local_ip, uniqueName: true' /></td>
				<td><input class='required number' data-bind='value: shared_secret, uniqueName: true' /></td>
				<td>
					<!--input class='required number' data-bind='value: local_networks, uniqueName: true' /-->
					<table>
					<!--input class='required number' data-bind='value: peer_networks, uniqueName: true' /-->
						<thead>
							<th>Name</th>
							<th>Gateway</th>
							<th>NetMask</th>
						</thead>
						<tbody data-bind='foreach: local_networks'>
							<tr>
							<td><input class='required number ip' data-bind='value: name, uniqueName: true' /></td>
							<td><input class='required number ip' data-bind='value: gateway, uniqueName: true' /></td>
							<td><input class='required number ip' data-bind='value: netmask, uniqueName: true' /></td>
							</tr>
						</tbody>
					</table>
				</td>
				<td>
					<table>
					<!--input class='required number' data-bind='value: peer_networks, uniqueName: true' /-->
						<thead>
							<th>Name</th>
							<th>Gateway</th>
							<th>NetMask</th>
						</thead>
						<tbody data-bind='foreach: peer_networks'>
							<tr>
							<td><input class='required number ip' data-bind='value: name, uniqueName: true' /></td>
							<td><input class='required number ip' data-bind='value: gateway, uniqueName: true' /></td>
							<td><input class='required number ip' data-bind='value: netmask, uniqueName: true' /></td>
							</tr>
						</tbody>
					</table>
				</td>
                <td><a href='#' data-bind='click: $root.removeTunnel'><img class="icon" src="images/trash.png"></a></td>

            </tr>
        </tbody>
    </table>
	<div class="controls">
		<button data-bind='click: addTunnel'>Add Tunnel</button>
		<button data-bind='enable: tunnels().length > 0' type='submit'>Submit</button>
	</div>
</form>


<script type="text/javascript" src="/scripts/app.js"></script>